<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Jenga Pizza</title>
    <style>
        @font-face {
            font-family: Prompt;
            src: url("fonts/Prompt-Regular.ttf");
        }

        body {
            font-family: Prompt;
        }

        /* Background Image */
        body::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-image: url("images/bg-pizza.jpg");
            opacity: 0.1;
            z-index: -1;
        }

        .box {
            padding-top: 50px;
            text-align: center;
            width: 100%;
        }

        /* Fix Flexbox Centering */
        .container-center {
            margin: auto;
            display: flex;
            align-items: center;
            /* Ensure vertical centering */
            width: 80%;
            min-height: calc(100vh - 60px);
            /* Adjust for navbar */
            padding-top: 60px;
            /* Prevent overlap with navbar */
        }

        .category {
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 0%;
        }

        .category.active {
            color: rgb(187, 62, 0);
            border-bottom: 1px solid rgb(187, 62, 0);
        }

        .card {
            background-color: rgb(245, 245, 245);
            border: none;
            transition: transform 0.2s;
            cursor: pointer;
            align-items: center;
            text-align: center;
            margin: 10px;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card a {
            text-decoration: none;
        }

        .card img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }

        .create-pizza {
            color: grey;
            width: 200px;
            height: 200px;
        }

        /* CSS for .show class to display elements */
        .show {
            display: block !important;
        }

        .search-filter-container {
            position: block;
            top: 0;
            z-index: 1000;
            padding: 10px 0;
        }

        .filterDiv {
            display: none;
            /* Hide all by default */
        }

        #myInput {
            display: block;
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
    </style>
</head>

<body>

    <header>
        <%- include('header') %>
    </header>

    <!-- choose to buy -->
    <div class="container-center">
        <div class="box mb-3">
            <div class="search-filter-container">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..."
                    title="Type in a name">
                <div class="row d-flex justify-content-center text-center" id="filterButton">
                    <div class="category btn" onclick="filterSelection('')">ทั้งหมด</div>
                    <div class="category btn" id="pizzaFilter" onclick="filterSelection('flavour')">หน้าพิซซ่า</div>
                    <div class="category btn" onclick="filterSelection('ingredient')">วัตถุดิบ</div>
                    <div class="category btn" id="etcFilter" onclick="filterSelection('etc')">อื่น ๆ</div>
                </div>
            </div>
            <div class="row" id="row">
                <div class="filterDiv flavour col-md-4 ">
                    <div class="card p-3">
                        <a href="/createform" class="create-pizza d-block">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </a>
                        <p>สร้างหน้าพิซซ่าเอง</p>
                    </div>
                </div>

                <% for(var i=0; i < pizza_item.length; i++) { %>
                    <div class="filterDiv flavour col-md-4 ">
                        <div class="card p-3">
                            <% if(pizza_item[i].pizza_id>= 4 && pizza_item[i].pizza_id <= 9){ %>
                                    <a href="/pizza-<%= pizza_item[i].pizza_id %>"><img
                                            src="images/pizza<%= pizza_item[i].pizza_id %>.png"
                                            alt=<%=pizza_item[i].pizza_name %>></a>
                                    <% } else{ %>
                                        <a href="/pizza-<%= pizza_item[i].pizza_id %>"><img src="images/pizza.png"
                                                alt=<%=pizza_item[i].pizza_name %>></a>
                                        <% } %>
                                            <p>
                                                <%= pizza_item[i].pizza_name %>
                                            </p>
                        </div>
                    </div>
                    <% } %>


                        <% for(var i=0; i < etc_item.length; i++) { %>
                            <div class="filterDiv etc col-md-4 ">
                                <div class="card p-3">
                                    <a href="/etc-<%= etc_item[i].etc_id %>"><img
                                            src="images/etc<%= etc_item[i].etc_id %>.png" alt=<%=etc_item[i].etc_name
                                            %>></a>
                                    <p>
                                        <%= etc_item[i].etc_name %>
                                    </p>
                                </div>
                            </div>
                            <% } %>

                                <% for(var i=0; i < ingredient_item.length; i++) { %>
                                    <div class="filterDiv ingredient col-md-4 ">
                                        <div class="card p-3">
                                            <img src="images/<%= ingredient_item[i].ingredient_name %>.png"
                                                alt=<%=ingredient_item[i].thai_name %>>
                                            <p>
                                                <%= ingredient_item[i].thai_name %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>

            </div>
        </div>
    </div>

    <footer>
        <%- include('footer') %>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            filterSelection(""); // show immediately
        });

        function filterSelection(c) {
            var x = document.getElementsByClassName("filterDiv");
            for (var i = 0; i < x.length; i++) {
                if (c === "" || x[i].classList.contains(c)) {
                    x[i].classList.add("show");
                    x[i].style.display = "block";
                } else {
                    x[i].classList.remove("show");
                    x[i].style.display = "none";
                }
            }
        }

        // ฟังก์ชันค้นหา
        function myFunction() {
            var input, filter, items, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            items = document.getElementsByClassName("filterDiv");

            for (i = 0; i < items.length; i++) {
                txtValue = items[i].getElementsByTagName("p")[0].textContent || items[i].getElementsByTagName("p")[0].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    items[i].classList.add("show");  // Show matching items
                    items[i].style.display = "block";
                } else {
                    items[i].classList.remove("show");  // Hide non-matching items
                    items[i].style.display = "none";
                }
            }
        }

        // กำหนดปุ่มให้ active เมื่อกดเลือก
        var filterButton = document.getElementById("filterButton");
        var category = filterButton.getElementsByClassName("category");
        for (var i = 0; i < category.length; i++) {
            category[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) {
                    current[0].classList.remove("active");
                }
                this.classList.add("active");
            });
        }
    </script>

    <script>
        window.onload = function () {
            // Your function here
            const urlParams = new URLSearchParams(window.location.search);
            const filter = urlParams.get('filter');
            document.getElementById(filter).click();
        };
    </script>

</body>

</html>